img{
    float: left;
    margin-right: 30px;
}

hr.rule{
    margin-left:330px;
}

@keyframes slideIn {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
    }
}

.show1{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function:ease-in ;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.show{
    position: relative;
    transform: translateX(-550px);
    opacity: 0;
    transition:all 1s ease;
}

.show.active{
    transform: translateX(0px);
    opacity: 1;
}
