<div class="container show active">
  <h1 class="text-center mt-5" id="welcome">Welcome to <span>Global Life Chapel</span> 
    <p>The Prophetic Temple</p>
  </h1>
  <h2 class="text-center second-header">
    CATCH THE SPIRIT OF GLOBAL LIFE CHAPEL
    <p>(Numbers 11:16-17 KJV)</p> 
  </h2>
  
  <div class="row">
    <h4 class="text-center">
      NB: There is a spirit (Anointing) upon Every Ministry you found yourself,
      till you catch the spirit of the ministry you cannot grow,
      Bless and help effectively as a worker in the Ministry (church)
    </h4>
    <hr style="width: 500px" class="rule">
    <h5 class="text-center">
      THINGS YOU MUST CATCH IF YOU WANT TO CATCH THE SPIRIT OF G.L.C:
    </h5>
    <hr style="width: 500px" class="rule">
    <h4 class="text-center">THE PROCEDURES OF G.L.C</h4>

    <div class="col-sm-12 text-center ">
      <hr style="width: 250px" /><br /><br />
      <img src="assets/bg.jpg" height="300px" width="250px">
      <div>
        Procedures are ways things are done in the Church. <br>
      <ol>
        <li class="text-left">
          ln G.L.C one must go through the ranks of the Church Leadership before rising into the Rank of a Pastor
        </li>
        <li class="text-left">
          One must be Educated and Working before becoming a Pastor in G.L.C.
        </li>
        <li class="text-left">
          One must have a speciﬁc call and the Leading of the Holy Spirit and the Leadership of the Church before becoming a Full time Pastor in G.L.C
        </li>
        <li class="text-left">
          One must go through the JESUS' LIFE STYLE OF LEADERSHIP TRAINING before ordain as a Pastor in G.L.C.
        </li>
        <li class="text-left">
          One must be a Tither before becoming a Pastor or a Leader in G.L.C.
        </li>
        <li class="text-left">
          Every member of G.L.C is expected to join the Days group system in the Church
        </li>
        <li class="text-left">
          Members and the Protocol department are supposed to obey and show respect to each other.
        </li>
      </ol>
    </div>
    </div>
  </div>
</div>