<section class="reveal active">
  <div class="container reveal active">
    <h1 class="text-center mt-5" id="welcome">Welcome to <span>Global Life Chapel</span>
      <p>The Prophetic Temple</p>
    </h1>
    <h2 class="text-center second-header">
      CATCH THE SPIRIT OF GLOBAL LIFE CHAPEL
      <p>(Numbers 11:16-17 KJV)</p>
    </h2>

    
      <h4 class="text-center">
        NB: There is a spirit (Anointing) upon Every Ministry you found yourself,
        till you catch the spirit of the ministry you cannot grow,
        Bless and help effectively as a worker in the Ministry (church)
      </h4>
      <hr style="width: 500px" class="rule">
      <h5 class="text-center">
        THINGS YOU MUST CATCH IF YOU WANT TO CATCH THE SPIRIT OF G.L.C:
      </h5>
      <hr style="width: 500px" class="rule">
      <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8">
        <img src="assets/Global Life Chapel Accra brach church building.JPG" class="rounded" height="300px"
          width="250px">
          <h4 class="text-center">THE PROCEDURES OF G.L.C</h4>
          <h5 class="text-left">Procedures are ways things are done in the Church.</h5>
          <br>
          <ol>
            <li class="text-left">
              ln G.L.C one must go through the ranks of the Church Leadership before rising into the Rank of a Pastor
            </li>
            <li class="text-left">
              One must be Educated and Working before becoming a Pastor in G.L.C.
            </li>
            <li class="text-left">
              One must have a speciﬁc call and the Leading of the Holy Spirit and the Leadership of the Church before
              becoming a Full time Pastor in G.L.C
            </li>
            <li class="text-left">
              One must go through the JESUS' LIFE STYLE OF LEADERSHIP TRAINING before ordain as a Pastor in G.L.C.
            </li>
            <li class="text-left">
              One must be a Tither before becoming a Pastor or a Leader in G.L.C.
            </li>
            <li class="text-left">
              Every member of G.L.C is expected to join the Days group system in the Church
            </li>
            <li class="text-left">
              Members and the Protocol department are supposed to obey and show respect to each other.
            </li>
          </ol>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-4">
        <h4>THE EMPHASIS OF G.L.C</h4>
          <h5>Emphasis is the focus of the massage being preach in the Church. (Some focus on prosperity)</h5>
          <ol>
            <li class="text-left">
              G.L.C emphasis on preaching and Teaching the WORD of GOD. 
              We emphasis on healing and Miracles. We emphasis on SOUL Winning and planting of Churches. 
              We emphasis on preaching and Teaching the Mystery of God's Word.
            </li>
          </ol>
      </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <h4>THE PHILOSOPHY OF G.L.C</h4>
          <h5>Philosophy is the general Trend of thinking in the Ministry</h5>
          <ol>
            <li class="text-left">
              In G.L.C we believe only the best is good for God and the Things of God.
            </li>
            <li class="text-left">
              We believe everybody can work for God and can be used by God.
            </li>
            <li class="text-left">
              We believe in building of Churches. Establish the Church and allow Church members to Know that their money
              is being put to good Use.
            </li>
            <li class="text-left">
              We believe and Encourage people to marry and to do so at a young age and stay pure, rather than to live in
              Sin and Hypocrisy.
            </li>
            <li class="text-left">
              We believe that Every Church member can Prosper and be in good Health.
            </li>
          </ol>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <h4>THE PRINCIPLES OF G.L.C</h4>
          <ol>
            <li class="text-left">
              The Principle of G.L.C are the principle in the Word of God. 
              Everything we do must be founded on the Solid Foundation of the Bible. 
              It is the Principle of G.L.C to reject things that are not ﬁrmly based on the Word of God. (Bible)
            </li>
            <li class="text-left">
              We have a principle of LOYALTY to the Church and Leadership (The Founder), 
              The Principle of Christ for All (Care for all), The Principle of Family, 
              Love for All, Humility, Respect and Working for God.
            </li>
          </ol>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <h4>THE VISION OF G.L.C</h4>
          <ol>
            <li class="text-left">
              Is to lift the image of PROPHETIC PRAYERS and INTERCESSION in the LIFE of the Believer.
(Matthew 21:13, Isaiah 57:7, Isaiah 59:14-16)
            </li>

            <li class="text-left">
              Is to Win Souls for Christ, Nurture and Train MEN and WOMEN to become an instrument to enhance the Ministry of God. 
              (Matthew 28:18-20, Ephesians 4:11-16)
            </li>
          </ol>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h4>THE STANDARD OF G.L.C</h4>
          <ol>
            <li class="text-left">
              In G.L.C we expect people to be faithful to their Marriage partners. 
              We expects Pastors and Leaders to lead honest lives and to have Financial and Moral integrity. 
              We do not compromise on these Standards! we do not expect people to be perfect but we do expect them to be Honest.
            </li>
          </ol>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <h4>THE DOCTRINES OF G.L.C</h4>
          <h5>
            A doctrine is the Trend of Teaching in the Church.
          </h5>
          <ol>
            <li class="text-left">
              In G.L.C one of our Main doctrine is the doctrine of Creations and PROPHETIC directions, 
              The doctrine of PRAYER, The doctrine of LOYALTY, The Doctrine of knowing God for yourself, 
              The doctrine of the HOLT SPIRIT, The doctrine of Knowledge, Wisdom, Understanding, Prosperity and Financial intelligence.
            </li>
          </ol>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <h4>THE ANOINTING OF G.L.C (Numbers 11: 16-17)</h4>
          <h5>
            (The Anointing is the Grace upon the Leader in the Church)
          </h5>
          <ol>
            <li class="text-left">
              In G.L.C the principal Anointing you have to pray for is the Anointing 
              on the Leader (Rev. Eric Mensah) this is because you are working under His Leadership and Ministry.
            </li>
          </ol>
        </div>
      </div>
  </div>
</section>