<div class="container" id="glc">
    <h1 class="text-center mt-5" id="welcome">Welcome to Global Life Chapel, The Prophetic Temple</h1>
    <h2 class="text-center">CATCH THE SPIRIT OF GLOBAL LIFE CHAPEL
        (Numbers 11:16-17 KJV)</h2>
    <hr style="width: 250px" /><br /><br />
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center ">
        <img src="assets/bg.jpg" height="300px" width="250px">
      </div>
      <div class="col-md-6 col-sm-12 text-center mt-5">
        <p> 
          A people fearfully and wonderfully made. We are a family of love, faith
          and purpose. We believe there's a seed in every man's life that needs to be nurtured and guided
          to fulfill their God giving purpose. We believe God did not create any life to be a waste but
          transform lives, raise the dead and set the captive free. In Global Life Chapel, you will
          encounter God and experience the power of the Holy Spirit. We celebrate diversity and we will make you feel
          right at home.
        </p>
      </div>
    </div>
  </div>

