@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar-static-top{
    position: fixed;
    width: 100%;
    z-index: 1100;
    height: max-content;
}

li.nav-link:hover{
cursor: pointer;
}

@media only screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }

    li:hover.nav-link{   
      font-family: 'Poppins ExtraBold'; 
      font-weight: bolder;
      color: white;
      background: linear-gradient(rgba(150, 184, 95, 0.6), rgba(144, 201, 22, 0.5));
    }

    .nav-item{
      padding: 5px 0px 5px 15px;
      margin: 15px 10px 10px 15px;
    }

    li:hover.dropdown-toggle{
      color: red
    }
}

@media only screen and (max-width: 768px){
    li.nav-item{
        margin-left: 10px;
    }

    li.dropdown-item{
        margin-left: 10px;
    }
}
 