.navbar-static-top{
    position: fixed;
    width: 100%;
    z-index: 1100;
}

li.nav-link:hover{
cursor: pointer;
}

@media only screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }

    li.nav-link:hover{
        color: white;
        background-color: #000000;
        transform: scale(1.2);
        transition: transform .3s;
        
    }
}

@media only screen and (max-width: 768px){
    li.nav-item{
        margin-left: 10px;
    }

    li.dropdown-item{
        margin-left: 10px;
    }
}

