.background-image{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url("/assets/Global Life Chapel morning devotion image.jpeg");
    background-image:url("/assets/Global Life Chapel morning devotion image.jpeg") ;
    height: 900px; 
    border-radius: 10px;
}

.devotion-description{
    display: inline-block;
    margin-top:373.8px;
}

.reveal{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition:all 2s ease;
    transition-delay:0.1s;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}