<<<<<<< HEAD
.background-image{
  margin-left: 260px;
}

.devotion-description{
    margin-top: 2%;
  }

@media(min-width: 748px){
    .devotion-row{
         margin-top: 20%; 
    }
}

@media(max-width: 748px){
    .devotion-row{
         margin-top: 20%; 
    }
}


=======
.background-image{
    border-radius: 10px;
}

.devotion-description{
    margin-top: 2%;
  }

@media only screen and (min-width: 768px){
    .devotion-row{
         margin-top: 30%; 
    }
}

@media only screen and (max-width: 768px){
    .devotion-row{
         margin-top: 60%; 
    }
}


>>>>>>> dfe13eb999eacf4df21f0d47caadae146b72c598
