<section>
    <div class="container">
        <div class="row devotion-row">
            <h1 class="text-center">Morning Devotion</h1>
                <h2 class="text-center">Start Your Day With Jesus</h2>
            <div class="col-lg-1 col-md-1">
            </div>

            <div class="col-lg-9 col-md-9"  data-aos="fade-right" data-aos-offset="100">
                <img class="img-fluid responsive-svg background-image" [defaultImage]="'assets/image-loader.gif'"
                    [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 193.svg'" class="rounded">
            </div>

            <div class="col-lg-2 col-md-2">
            </div>

            
            <div class="col-lg-4 col-sm-12 col-md-6 devotion-description" >
                
                <span class="text-justify" data-aos="fade-left" data-aos-offset="100">
                    <b>"Start your day with Jesus"</b>  is a non-denominational fellowship that meets in the early morning hours 
                    from <b>Monday to Thursday</b>, specifically from <b>5:00AM to 6:00AM</b>. During this time, members come together to 
                    engage in prophetic prayers, seeking to overcome any negative words or prophecies that may have been spoken 
                    over them while they were sleeping during the night.
                </span>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6 devotion-description" data-aos="fade-right" data-aos-offset="100">
                <span class="text-justify">
                    The primary aim of this fellowship is to start the day on a positive note by commanding it through prayer, 
                    and to seek guidance and direction from the Holy Spirit. Members strengthen their faith and develop a deeper 
                    connection with God.
                </span>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6 devotion-description" data-aos="fade-left" data-aos-offset="100">
                
                <span class="text-justify">
                    Through the use of prophetic prayers, we claim victory over any negative words or prophecies 
                    that may have been made over their lives while they were sleeping. Based on <b>Psalm 18:3</b>, which speaks 
                    of calling upon the Lord and being saved from one's enemies.
                </span>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6 devotion-description" data-aos="fade-right" data-aos-offset="100">
                
                <span class="text-justify">
                    While the fellowship is non-denominational, it is open to anyone who wishes to participate, regardless of 
                    their background or beliefs. Members come from a diverse range of backgrounds and are united in their desire to 
                    seek a deeper connection with God and to start their day in a positive and fruitful manner.
                </span>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6">
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6">
            </div>
        </div>
    </div>
</section>