.background-image{
  margin-left: 260px;
}

.devotion-description{
    margin-top: 2%;
  }

@media(min-width: 748px){
    .devotion-row{
         margin-top: 20%; 
    }
}

@media(max-width: 748px){
    .devotion-row{
         margin-top: 20%; 
    }
}


