<section>
    
    <div class="background-image">

    </div>
<br><br>

<div class="container">
    <div class="row">
        <div>
            Start your day with Jesus is a non-denominational fellowship held early in the morning from <b>5:00AM to 6:00AM</b> from <b>MONDAY to THURSDAY</b>. 
            We command our day through prophetic prayers to be fruitful contary to any negatic words and prophecies that was made on our behalf in the night 
            when we were asleep according to Psalm 18:3
        </div>
    </div>
    
</div>
   
</section>