<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="21"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="22"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 77.jpg" alt="Zeroth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 79.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 82.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 54.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 55.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 56.jpg" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 57.jpg" alt="Sixth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 58.jpg" alt="Seventh slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 59.jpg" alt="Eighth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 60.jpg" alt="Ninth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 61.jpg" alt="Tenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 62.jpg" alt="Eleventh slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 63.jpg" alt="Twelfth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 64.jpg" alt="Thirteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 65.jpg" alt="Fourteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 66.jpg" alt="Fifteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 67.jpg" alt="Sixteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 68.jpg" alt="Seventeenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 69.jpg" alt="Eighteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 70.jpg" alt="Ninteenth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 71.jpg" alt="Twentieth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 72.jpg" alt="Twenty-first slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 73.jpg" alt="Twenty-second slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 12.jpg" alt="Twenty-third slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 178.jpg" alt="Twenty-fourth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 179.jpg" alt="Twenty-fifth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 180.jpg" alt="Twenty-sixth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 181.jpg" alt="Twenty-seventh slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 182.jpg" alt="Twenty-eighth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 183.jpg" alt="Twenty-ninth slide">
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/GLOBAL LIFE CHAPEL 184.jpg" alt="Thirtieth slide">
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>