<div class="text-center text-light" id="home">
    <h1 class="text-center text-light">Worship with Us</h1><br />
  
    <div class="row" style="line-height: 2em;">
      <div class="col-lg-7 col-md-6 col-sm-12 text-center middle"
        style="line-height: 2;">
        <h1 id="border"> A people fearfully and wonderfully made, blessed, and cannot be cursed</h1> <br />
        <button class="btn btn-outline-success">
          <a href="" class="nav-link h5" style="color: white">Join us</a>
        </button>
      </div>

      <div class="col-lg-5 col-md-6 col-sm-12">
        <img src="../../assets/images/OLD/GLOBAL LIFE CHAPEL 191.svg" alt=""
          class="banner">
      </div>
    </div> <br />
  </div>