<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Christ For All</h2>
        
        <!-- Portfolio Grid Itemss-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                    [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 194.svg'" alt="..." />
            </div>

            <ng-template #smallScreen>
                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 156.jpg'" alt="..." />
                </div>

                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 157.jpg'" alt="..." />
                </div>

                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 175.jpg'" alt="..." />
                </div>

                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 132.jpg'" alt="..." />
                </div>

                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 133.jpg'" alt="..." />
                </div>

                <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                    <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                        [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 134.jpg'" alt="..." />
                </div>
              </ng-template>

            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    Christ for all is a God-given initiative to the manservant to take
                    and spread the Gospel of Our savior Jesus Christ to all parts of
                    the world especially rural areas.
                </span>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    This has seen fruition so far as a result of the establishment
                    and extension of the ministry of the Man Of God, thereby
                    depopulating hell and populating Heaven.
                </span>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    This has also strengthened the christian faith and turned
                    so many hopeless and useless lives around to the glory of God
                </span>
            </div>
        </div>
    </div>
</section>