<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Christ For All</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                    [lazyLoad]="'assets/GLOBAL LIFE CHAPEL CHRIST FOR ALL1.jpg'" alt="..." />
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    Christ for all is a God-given initiative to the manservant to take
                    and spread the Gospel of Our savior Jesus Christ to all parts of
                    the world especially rural areas.
                </span>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    This has seen fruition so far as a result of the establishment
                    and extension of the ministry of the Man Of God, thereby
                    depopulating hell and populating Heaven.
                </span>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    This has also strengthened the christian faith and turned
                    so many hopeless and useless lives around to the glory of God
                </span>
            </div>
        </div>
    </div>
</section>