<app-navbar></app-navbar>

<header class="animate" id="home">
  
    <div>
      <div class="row">
        <div class="col-lg-7 text-center middle" id="home" style="line-height: 2;">
          <h1 id="border"> A place of prayer and the word</h1> <br />
      <button class="btn btn-outline-success">
        <a href="" class="nav-link h5" style="color: white">Join us</a>
      </button>
        </div>

        <div class="col-lg-5">
          <img src="../assets/images/GLOBAL LIFE CHAPEL 191.svg" alt="" class="banner">
        </div>
    </div>
  </div>
</header>
<br><br><br>

<app-gallery id="gallery"></app-gallery><br><br><br>

<app-glc id="aboutglc"></app-glc>

<br /><br /><br />

<app-our-general-overseer id="generaloverseer"></app-our-general-overseer>

<br /><br /><br />

<app-morning-devotion id="morningdevotion"></app-morning-devotion><br><br><br>

<app-christ-for-all id="forall"></app-christ-for-all>

<app-schedule id="schedule"></app-schedule>

<footer class="container-fluid  text-dark p-3" style="font-weight: bolder;">
  <div class="row">
    <div class="col-md-4 col-lg-4">

    </div>

    <div class="col-md-5 col-lg-5 col-sm-12 Copyright1">
      <span class="text-center"> © Copyright 2023 GLC Prophetic Temple. All Rights Reserved</span>
    </div>

    

    <div class="col-md-3 col-lg-3 col-sm-12">
      <span class="text-right enterprise1">Powered by Nyaabitech's Enterprise</span>
    </div>
  </div>
</footer>