<nav class="navbar  navbar-expand-sm navbar-dark">
    <a href="" class="navbar-brand pt-2"><img src="assets/Logo2.png" style="width:100px; margin-left: 100px;"  ></a>
    <button id="button" class="navbar-toggler btn-dark" data-toggle="collapse" type="button" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">    
      <ul class="navbar-nav list-line ml-auto "  >               
          <li class="nav-item active list-line-item mr-4 ">
            <a href="#" class="nav-link  text-dark text-center" routerLink='home'  >Home</a>
          </li>
   
          <li class="nav-item  list-line-item mr-4">
           <a class="nav-link  text-dark" href="#" routerLink='/newhere'  >Welcome to Church </a>
         </li>
   
         <li class="nav-item  list-line-item mr-4">
           <a class="nav-link text-dark " href="#" routerLink="/nextstep" > What's next?  </a>
         </li>
         
         <li class="nav-item  list-line-item mr-4">
           <a class="nav-link text-dark " href="#" routerLink="/rccg" > Learn more about RCCG </a>
         </li>
   
         <li class="nav-item  list-line-item mr-4">
           <a class="nav-link text-dark " href="#" routerLink="/virtual" > Join Church online </a>
         </li>
         
         <li class="nav-item  list-line-item mr-4 " >
           <a href="#" class="nav-link text-center btn text-light" routerLink="/give"  style="background-color: #381373;">Give</a>
         </li>
         
        </ul>
        </div>
  </nav>
          <div>
             <router-outlet></router-outlet>
         </div>
  
