<div class="text-center text-light" id="section">
    <h1 class="text-center text-light mt-5" id="worship">Worship with Us</h1><br/>   
    
 <div class="row" style="line-height: 2em;">    
     <div class="col-md-6 col-sm-12 text-center">
           <h2 >Services</h2>
              Sunday: 09:00am – 11:00am <br/>
             Friday : 07:00pm – 09:00pm (Prophetic Service)<br/>
             Monday - Thursday : 05:30am - 06:00am (Morning Devotion)<br/> 
     </div>
     <div class="col-md-6 col-sm-12 text-center" id="are">
           <h2>We are here</h2>
             Phone: +233 244760745
           <br/> Email: globallifechapel@gmail.com
     </div>
 </div> <br/>
 <div>
   <h1><b>You can contact us </b></h1>
  <p><span> <i class="fa fa-facebook text-primary" id="icon"></i> Global Life Chapel</span></p>
  <p><span> <i class="	fa fa-youtube text-danger" id="icon"></i> glctv</span></p>
  <p><span> <i class="	fa fa-twitter text-primary" id="icon"></i> glc</span></p>
  <p><span> <i class="	fa fa-instagram text" id="icon" style="color:#9b6954"></i> glc</span></p>
 </div> 
</div>