<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">FEED THE ORPHANS EVERY WEEK PROJECT</h2>
        
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div>
                
            </div>
            <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                    [lazyLoad]="'assets/images/feed-the-orphans-global-life-chapel.png'" alt="..." />
            </div>

            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    The Feed the Orphans Every Week project is a charitable initiative organized by Global Life Chapel, a church 
                    committed to serving the needs of vulnerable children in our community. The project aims to provide nutritious 
                    meals to orphans every week by soliciting funds from church members and presenting them to an orphanage home.
                </span>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    Through this project, we aim to make a positive impact on the lives of children who have lost their parents or have 
                    been abandoned, and provide them with the basic sustenance they need to grow and thrive. Our goal is to ensure that 
                    every child in the orphanage has access to healthy and nutritious meals, and that no child goes hungry.
                </span>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    We believe that this project is a tangible expression of our commitment to serving our community and 
                    living out our faith. By coming together as a church community and pooling our resources, we can make 
                    a significant difference in the lives of these vulnerable children and provide them with hope for a brighter future. 
                </span>
            </div>

            <!-- Portfolio Item 7-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    We invite all members of our church community and anyone who shares our passion for helping others to 
                    support this worthy cause. Your contributions will go directly towards feeding the orphans and making 
                    a positive impact on their lives. Thank you for your support and generosity!
                </span>
            </div>

            <!-- Portfolio Item 8-->
            <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                </span>
            </div>

              <!-- Portfolio Item 8-->
              <div class="col-md-6 col-lg-4 chrisforalldesc" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                   
                </span>
            </div>
        </div>
    </div>
</section>