<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="text-center devotion-row">FEEDING THE ORPHANS EVERY WEEK PROJECT</h1>
        
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-2 col-lg-2">
              
            </div>
            <div *ngIf="isLargeScreen(); else smallScreen" class="col-md-8 col-lg-8" data-aos="fade-left" data-aos-offset="100">
                <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 12.jpg'" alt="..." />
            </div>
            <div class="col-md-2 col-lg-2">

                <ng-template #smallScreen>
                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 12.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 178.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 179.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 180.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 181.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 182.jpg'" alt="..." />
                    </div>

                    <div class="col-md-12 col-lg-12" data-aos="fade-left" data-aos-offset="100">
                        <img class="chrisforall img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
                            [lazyLoad]="'assets/images/GLOBAL LIFE CHAPEL 183.jpg'" alt="..." />
                    </div>
                  </ng-template>
              
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 devotion-description" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    The church project aims to support orphanages every week through donations from church members, with the goal of receiving God's blessings as mentioned in Matthew Chapter 25-35-40. The project will involve collecting donations from church members on a weekly basis, which will be used to provide basic necessities such as food, clothing, and school supplies to orphanages in the community.
                </span>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 devotion-description" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    The project's primary objective is to provide support and care for vulnerable children who have lost their parents and are in need of assistance. The project will also provide an opportunity for church members to come together and contribute to a meaningful cause that aligns with the teachings of the Bible. By participating in the project, church members will not only be fulfilling their duty to help those in need, but also receiving God's blessings as mentioned in Matthew Chapter 25-35-40.
                </span>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 devotion-description" data-aos="fade-up" data-aos-offset="100" data-aos-duration="3000">
                <span>
                    Overall, the church project that supports orphanages every week through donations from church members is a noble and impactful initiative that aims to make a positive difference in the lives of vulnerable children in the community while also promoting unity and compassion among church members.
                </span>
            </div>

           
        </div>
    </div>
</section>