body{
	font-family: candara;
}

 header {
  background: linear-gradient(rgba(150, 184, 95, 0.6), rgba(144, 201, 22, 0.5)),url("/assets/09.jpg");
  background-size: cover;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  height: 100vh;
  }

  .middle{
  	margin-top: 20em
  }

  #border{
  	color: white;
  	font-weight: bolder;
  	font-size: 40px;
  }

  #welcome{
    line-height:1;
    font-weight: bolder; 
    font-size: 50px;
    text-align: justify;
  }

  #worship{
    font-weight: bolder;
    font-size: 50px;
    line-height: 1em;
  }
  
section{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),url("/assets/01.jpg");
  background-size: cover;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  height: 68vh;
  }

  #icon{
    font-size: 1em;
  }
   
  @media (max-width:360px) {
    section {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),url("/assets/01.jpg");
      background-size: cover;
      background-attachment: fixed;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      overflow: hidden;
      height: 100%;
    }
    #are{
      padding-bottom: 2em;
    }
  }

  