<app-navbar></app-navbar>

<header>
  <div class="text-center middle " id="home" style="line-height: 2;">
    <h1 id="border"> A place of prayer and the word</h1> <br />
    <button class="btn btn-outline-success">
      <a href="" class="nav-link h5" style="color: white">Join us</a>
    </button>
  </div>
</header>

<app-glc id="aboutglc"></app-glc>

<br/><br/><br/>

<app-our-general-overseer id="generaloverseer"></app-our-general-overseer>

<br/><br/><br/>

<app-give id="give"></app-give>

<app-schedule id="schedule"></app-schedule>

<footer class="container-fluid  text-dark text-center p-3" style="font-weight: bolder;">
  <p>
    © Copyright 2023 GLC Prophetic Temple. All Rights Reserved
  </p>
</footer>