<app-navbar></app-navbar>

<header>
  <div class="text-center middle " id="home" style="line-height: 2;">
    <h1 id="border"> A place of prayer and the word</h1> <br />
    <button class="btn btn-outline-success">
      <a href="" class="nav-link h5" style="color: white">Join us</a>
    </button>
  </div>
</header>

<div class="container">
  <h1 class="text-center mt-5" id="welcome">Welcome to Global Life Chapel, The Prophetic Temple</h1>
  <hr style="width: 250px" /><br /><br />
  <div class="row">
    <div class="col-md-6 col-sm-12 text-center ">
      <img src="assets/bg.jpg" height="300px" width="250px">
    </div>
    <div class="col-md-6 col-sm-12 text-center mt-5">
      <p> A people fearfully and wonderfully made. We are a family of love, faith
        and purpose. We believe there's a seed in every man's life that needs to be nurtured and guided
        to fulfill their God giving purpose. We believe God did not create any life to be a waste but
        transform lives, raise the dead and set the captive free. In Global Life Chapel, you will
        encounter God and experience the power of the Holy Spirit. We celebrate diversity and we will make you feel
        right at home.
      </p>
    </div>
  </div>
</div>
<br /><br /><br />
<app-schedule id="schedule"></app-schedule>
<br /><br /><br />

<section id="aboutglc">
  <h1>Glc Works</h1>
</section>
<section id="generaloverseer">
  <p>our-general-overseer works!</p>
</section>

<app-give id="give"></app-give>

<footer class="container-fluid  text-dark text-center p-3" style="font-weight: bolder;">
  <p>
    © Copyright 2023 GLC Prophetic Temple. All Rights Reserved
  </p>
</footer>