<section>
  <div class="container" data-aos="fade-up" data-aos-offset="100">
    <h1 class="text-center mt-5">Rev. Eric Agya Mensah</h1>
    <h2 class="text-center">(General Overseer)</h2>
    <br /><br />
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-10 text-justify">
        <img class="img-fluid responsive-svg rounded" [defaultImage]="'assets/image-loader.gif'"
          [lazyLoad]="'assets/Global Life Chapel founder Eric AGya Mensah.jpg'" height="300px" width="250px">
        He is the Founder and General overseer of Global Life Chapel (a non-denominational commission), all across the
        country and beyond. He is popularly called Daddy by his sheep and anybody under his covering. <br>
        Called as a prophetic intercessor, his ministry has brought the divine presence and comfort through prophetic
        directions from the Holy Spirit into the lives of many. He is a firebrand prophet and an apostle with deep
        insight
        into the plans and purposes of God for this generation. <br>
        He is a man sent by God and approved with miracles, signs and wonders. He has made himself available in massive
        ways for the body of Christ in these end times. God has used him tremendously in the prophetic office for
        deliverances and ministration of the Word. <br>
        Rev. Eric’s untamed passion for the work of God is evidenced by his consistent efforts to help spread he Gospel
        of
        our Lord Jesus according to scriptures by establishing the church and God in rural and less privileged areas
        just
        to help them know the life changing power of God the father, the son and the Holy Spirit.
        <br> Through his faith-powered messages, he is continuously shaping the destinies of millions across continents
        and causing them to live the victorious Christian Life. His Vision is to bring hope to the hopeless and empower
        the Body of Christ in the walk of faith and holiness. <br>
        Rev Eric’s passion extends to the younger generation who he believes are God’s sweethearts and must be guided in
        their walk with Jesus Christ, lest they fall by the wayside.
      </div>

      <div class="col-sm-12 col-md-2 col-lg-2" data-aos="fade-down" data-aos-offset="100">
        <iframe src="https://www.youtube.com/embed/Za6j2u1ptfQ" frameborder="0" class="rounded"></iframe>
      </div>
    </div>
  </div>
</section>